.box_message_inner_right
  %div
    %div
      .box_message_exchange_title
        .user_name
          = link_to "生田絵梨花 21歳 東京", ""
        %div
          =link_to "みてね！","", class: "button_please_check button_c button_like_d button_orange_a"
      #message_scroll.box_message_exchange.box_inner_scroll.scroll_to_bottom.ps-container.ps-theme-default
        .messages_dates{"data-id": "#{@messages.ids.last}"}
          - @messages.each do |message|
            - if (message.user_id === current_user.id)
              = render partial: "messages/shared/you_message",locals: { message: message }
            - else
              = render partial: "messages/shared/their_message",locals: { message: message }

        %p.to_profile
          = link_to "生田絵梨花さんのプロフィールを確認する", ""
      = form_for [@group, @message], html: {class: 'box_message_action'} do |f|
        =f.text_area :content,class: 'messege_textarea ng-pristine ng-untouched ng-valid ng-empty',placeholder: 'メッセージを入力する'
        .box_message_action_inner
          %ul.messege_option_list
            %li.messege_option_item
              %button.button_message_submit.button_b.button_blue_a{type: "submit"} 送信
            %li.messege_option_item
              %button.button_open_sticker_view.button_b.button_white_a{type: "submit"}
            %li.messege_option_item
              %button.button_photo_upload.button_b.button_white_a{type: "submit"}
        .box_other_action
          .other_action_block
            = link_to "", class: "button_b button_white_a" do
              %span 表示設定

      / .box_message_action
      /   %textarea.messege_textarea.ng-pristine.ng-untouched.ng-valid.ng-empty{placeholder: "メッセージを入力する"}
      /   .box_message_action_inner
      /     %ul.messege_option_list
      /       %li.messege_option_item
      /         %button.button_message_submit.button_b.button_blue_a{type: "submit"} 送信
      /       %li.messege_option_item
      /         %button.button_open_sticker_view.button_b.button_white_a{type: "submit"}
      /       %li.messege_option_item
      /         %button.button_photo_upload.button_b.button_white_a{type: "submit"}
      /   .box_other_action
      /     .other_action_block
      /       = link_to "", class: "button_b button_white_a" do
      /         %span 表示設定

      .box_banner_a.mb15 ここに広告
      .box_message_note
        %p.message_note_title メッセージ送信時のご注意
        .message_note_detail
          %p.note_text メッセージを送る際は、以下のような点に気をつけてください。他のユーザーからの違反報告があった場合は、警告表示や強制退会となる場合もありますので、ご注意ください。
          %ul.note_list.mb10
            %li.note_item
              %em メッセージには誠実に対応してください。
              送信前に相手を不快にさせるような内容ではないか確認しましょう。実際に会うことになった際は、約束の場所・日時を守りましょう。
            %li.note_item
              %em ネットワークビジネス・不動産投資への勧誘、その他Pairsの趣旨から離れたメッセージの送信は、利用規約で禁止されています。
            %li.note_item
              %em Pairs内外に関わらず、上記のようなメッセージを受け取られましたら直ちに通報機能をご利用ください。
          %p.note_text ※健全なサービスを運営する目的で運営者がメッセージの内容を確認・削除する場合があります。これに同意した上で送信してください
